[Match]
# Привязка к имени моста
Name=nsboxbr0

[Network]
# IP-адрес хоста (шлюза) в сети контейнеров
Address=192.168.100.1/24

# Включение DHCP-сервера, чтобы контейнеры автоматически получали IP при старте
DHCPServer=yes

# Разрешение ядру Linux пересылать пакеты между этим мостом и внешним миром
IPv4Forwarding=yes

[DHCPServer]
# Диапазон выдаваемых адресов начнется с 192.168.100.100
PoolOffset=100
# Будет доступно 150 адресов для контейнеров (до 192.168.100.250)
PoolSize=150
