[Match]
# Маска перехватывает сетевые карты контейнеров (ve-* на хосте и vb-* внутри nspawn)
Name=v[eb]-*

[Network]
# Подключаем перехваченные интерфейсы к изолированному мосту
Bridge=nsboxbr0
