[Network]
# Тип сети "Изолированная сеть"
# Private=yes
# Тип сети "Виртуальный Ethernet-канал"
# VirtualEthernet=yes
# Тип сети "Подключение к сетевому мосту"
# Bridge=br0

# Проброс портов
# Port=tcp:8080:80
# Port=tcp:4443:443

[Files]
# Проброс сокета X11
Bind=/tmp/.X11-unix

# Проброс конфига DNS
BindReadOnly=/etc/resolv.conf

# Монтирование настроек сети контейнера в оперативную память (tmpfs),
# для маскировки настроек сети хоста
TemporaryFileSystem=/etc/systemd/network

# Разрешение работы подсистемы FUSE в контейнере
Bind=/dev/fuse

[Exec]
# Вариант загрузки (yes|no)
Boot=no

# Кастомные параметры, которые парсятся скриптом запуска
# X-MemoryMax=2G
# X-CPUQuota=25%
# X-TasksMax=100

# Запуск sh или bash в качестве лидера контейнера может не работать,
# так как без подключения к псевдотерминалу оболочка завершает работу
# Используйте шаблон entrypoint.sh, скопировав его в контейнер, или
# Parameters=/bin/sh -c "trap 'exit 0' TERM INT; /bin/sleep infinity & wait $!"

