[Network]
# Тип сети "Виртуальный Ethernet-канал"
VirtualEthernet=yes
# Тип сети "Подключение к сетевому мосту"
# Bridge=br0

# Проброс портов
# Port=tcp:8080:80
# Port=tcp:4443:443

[Files]
# Проброс сокета X11
Bind=/tmp/.X11-unix

# Проброс конфига DNS
BindReadOnly=/etc/resolv.conf

[Exec]
# Вариант загрузки
Boot=no

# Кастомные параметры, которые при запуске прочитаются и передадутся в systemd-nspawn
X-MemoryMax=2G
X-CPUQuota=25%
X-TasksMax=100

# Программа, запускаемая при старте контейнера (по умолчанию /bin/bash)
# NB! Во многих дистрибутивах запуск bash в качестве лидера не работает,
# так как без подключения к псевдотерминалу завершает работу
# Parameters=/bin/sleep infinity
Parameters=/entrypoint.sh
