[Network]
# Тип сети "Виртуальный Ethernet-канал"
VirtualEthernet=yes
# Тип сети "Подключение к сетевому мосту"
# Bridge=br0

# Проброс портов
# Port=tcp:8080:80
# Port=tcp:4443:443

[Files]
# Проброс конфига DNS в режиме Read-Only
BindReadOnly=/etc/resolv.conf

[Exec]
# Вариант загрузки
Boot=no

# Ограничения ресурсов
# LimitMEMORY=2G
# CPUQuota=50%

# Программа, запускаемая при старте контейнера
# Parameters=/entrypoint.sh
Parameters=/bin/sleep infinity
