Package: nsbox
Version: 0.5
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Sergey Maksimov <m6v@mail.ru>
Depends: systemd-container, nftables
Description: Инструмент управления контейнерами systemd-nspawn
