[Unit]
Description=systemd-nspawn container %i
After=network.target

[Service]
Type=simple

# Скрипт через exec сам станет главным процессом, systemd будет за ним следить
ExecStart=/usr/local/bin/nsbox start %i

# Очистку доверяем systemd, вызывая тот же скрипт с параметром stop
ExecStopPost=/usr/local/bin/nsbox stop %i

# Считать код 1 успешным (специфика завершения sleep infinity при SIGTERM)
SuccessExitStatus=1

# Таймаут для завершения процессов в контейнере после отправки SIGTERM
TimeoutStopSec=10s

# Перезапуск при авариях
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
