[Unit]
Description=systemd-nspawn container %i
After=network.target

[Service]
Type=simple

Environment="STORAGE_ROOT=/var/lib/rigger"

# Размонтирование и очистка на случай старта после нештатной остановки
ExecStartPre=-/usr/bin/umount -l ${STORAGE_ROOT}/%i/merged
ExecStartPre=-/usr/bin/umount -l ${STORAGE_ROOT}/%i/lower

# Создание структуры каталогов оверлея
ExecStartPre=/usr/bin/mkdir -p ${STORAGE_ROOT}/%i/lower ${STORAGE_ROOT}/%i/upper ${STORAGE_ROOT}/%i/work ${STORAGE_ROOT}/%i/merged

# Очистка рабочего каталога перед монтированием
ExecStartPre=/usr/bin/find ${STORAGE_ROOT}/%i/work -mindepth 1 -delete

# Монтирование корня хоста в режиме read-only (ro), если lower пустой
ExecStartPre=/bin/sh -c '[ -z "$(/usr/bin/ls -A ${STORAGE_ROOT}/%i/lower)" ] && /usr/bin/mount --bind -o ro / ${STORAGE_ROOT}/%i/lower'

# Монтирование оверлея
ExecStartPre=/usr/bin/mount -t overlay overlay -o lowerdir=${STORAGE_ROOT}/%i/lower,upperdir=${STORAGE_ROOT}/%i/upper,workdir=${STORAGE_ROOT}/%i/work ${STORAGE_ROOT}/%i/merged

# Запуск контейнера с параметрами, указанными в опциональном файле /etc/systemd/nspawn/%i.nspawn
ExecStart=/usr/bin/systemd-nspawn --quiet --machine=%i -D ${STORAGE_ROOT}/%i/merged

# Считать код 1 успешным (специфика завершения sleep infinity при SIGTERM)
SuccessExitStatus=1

# Размонтирование оверлея при остановке
ExecStopPost=-/usr/bin/umount -l ${STORAGE_ROOT}/%i/merged
ExecStopPost=-/usr/bin/umount -l ${STORAGE_ROOT}/%i/lower
ExecStopPost=-/usr/bin/find ${STORAGE_ROOT}/%i/work -mindepth 1 -delete

# Таймаут для завершения процессов в контейнере после отправки SIGTERM
TimeoutStopSec=10s

# Перезапуск при авариях
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
